#####################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @ypopovych @DataDog/ci-app-libraries @DataDog/swift
