name: Integration Tests

on:
  schedule:
  - cron: 0 2 * * 1-5
  workflow_dispatch:

jobs:
  unit:
    name: Run Unit Tests
    strategy:
      fail-fast: false
      matrix:
        env:
          - xcode: "Xcode_16.2"
            os: "macos-14"
          - xcode: "Xcode_16.4"
            os: "macos-15"
          - xcode: "Xcode_26.0"
            os: "macos-26"
          - xcode: "Xcode_26.2"
            os: "macos-26"
    runs-on: ${{ matrix.env.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select ${{ matrix.env.xcode }}
      run: sudo xcode-select --switch /Applications/${{ matrix.env.xcode }}.app
    - name: Unit tests
      run: make XC_LOG=unit tests/unit
    - name: Attach Xcode logs
      if: '!cancelled()'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.env.xcode }}-unit-logs
        path: "*-unit.log"

  integration:
    name: Run Integration Tests
    strategy:
      fail-fast: false
      matrix:
        env:
          - xcode: "Xcode_16.2"
            os: "macos-14"
          - xcode: "Xcode_16.4"
            os: "macos-15"
          - xcode: "Xcode_26.0"
            os: "macos-26"
          - xcode: "Xcode_26.2"
            os: "macos-26"
        platform: ["macOS", "iOSsim", "tvOSsim"]
    runs-on: ${{ matrix.env.os }}
    env:
      DD_API_KEY: '${{ secrets.DD_API_KEY }}'
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select ${{ matrix.env.xcode }}
      run: sudo xcode-select --switch /Applications/${{ matrix.env.xcode }}.app
    - name: Run tests for ${{ matrix.platform }}
      run: make XC_LOG=integration tests/integration/${{ matrix.platform }}
    - name: Attach Xcode logs
      if: '!cancelled()'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.env.xcode }}-${{ matrix.platform }}-integration-log
        path: "*-integration.log"

